/* Declare font */
@font-face {
	font-family:Pacifico;
	src:url('../fonts/Pacifico.ttf');
	font-family:Pacifico;
}

/* Body */
body{
	background-image: url('../img/blue_background.jpg') !important; /* Required */
	font-family:Pacifico !important; /* Required */
	margin:20px !important; /* Required */
	/* Removed width:1200px; */
}

/* Links */
a{
	font-family:georgia !important; /* Required */
	font-color:#66CCFF !important; /* Required */
	font-weight:700 !important; /* Required */
}

/* Header, section, article, footer */
header, section, article, footer{
	background-color:#007ACC !important; /* Required */
	border:1px solid #E7E2d7 !important; /* Required */
	border-radius:8px !important; /* Required */
	padding:10px 20px 20px 20px !important; /* Required */
	margin:10px;
	text-align:center;
}

/* Navigational List */
nav ul{}

article{
	margin: 20px 280px; /* Removed margin:10px; */
	line-height:30px;
	/* Removed float:left; */
	/* Removed width:610px; */
}

/* Left and Right Section Common */
aside, nav{
	background-color:#007ACC;
	border:1px solid;
	border-radius:8px;
	border-color:#E7E2D7;
	padding:10px 20px 20px 20px;
	margin:10px;
	width:200px;
	line-height:30px;
	height:auto;
	/* Removed float:left; */
}

/* Left Section Only */
nav{
	float:left;
}

/* Right Section Only */
aside{
	float:right;
}

/* Section Headings */
h4{
	color:#5CE6E6 !important; /* Required */
	text-shadow:0px 1px 0px #403232 !important; /* Required */
	padding:2px 10px !important; /* Required */
	font-family:verdana;
	font-size:24px;
	font-weight:bold;
	font-variant:small-caps;
}

/*Article headings */
h2{ 
	color:#0000E6 !important; /* Required */
	opacity:0.5 !important; /* Required */
	padding:7px 10px 12px 30px !important; /* Required */
	margin-left:-30px !important; /* Required */
	text-shadow:0px 1px 0px #913951 !important; /* Required */
	font-variant:small-caps;
	font-family:verdana;
	font-size:28px;
	font-weight:bold;
}

/*
* Additional CSS below
*/
h1{
	font-family:verdana;
	font-size:40px;
	text-align:center;
	font-weight:bold;
}


h3{
	font-family:verdana;
	font-size:40px;
	font-weight:bold;
	text-align: center;
	font-variant:small-caps;
}

img[alt="Blue Wonderland"]{
	position:absolute;
	left:50px;
	top:40px;
}

div{
	text-align:center;
	padding:8px 0px 0px 0px;
}


footer{
	clear:both;
	font-size:12px;
	text-align: center;
}

